<style>
body{
    background: url("https://img.freepik.com/free-photo/light-brown-wooden-textured-background_53876-75016.jpg?size=626&ext=jpg");
}
</style>

<h1> CREATE A RECIPE! </h1>

<%=form_with(model: @recipe) do |form|%>
<div class="full_body">
<label>Name</label>
    <%=form.text_field(:name)%>
        <br>
<label>Category</label>
    <%=form.text_field(:category)%>
        <br>
<label>Description</label>
        <br>
    <%=form.text_area(:description)%>
        <br>
<label>Add Ingredients: </label>
    <%= form.collection_check_boxes(:ingredient_ids, @ingredients, :id, :name)%>
        <br>

<label>Upload a picture</label>
    <%=form.text_field(:recipe_url)%>
        <br>
    <%=form.submit%>
<% end %>
</div>
