<%=form_with(model: @recipe) do |form|%>
<label>Name</label>
<%=form.text_field(:name)%>
<br>
<label>Category</label>
<%=form.text_field(:category)%>
<br>

choose a category 
OR 
add your own
<label>Description</label>
<%=form.text_field(:description)%>
<br>
<label>Upload a picture</label>
<%=form.file_field(:recipe_url)%>
<br>
<%=form.submit%>
<% end %>
