<style>
img{
    height: 40%;
    width: 40%;
}
</style>

<h1> <%= @recipe.name %> </h1><br>
    <img src=<%=@recipe.recipe_url%> >
    <br>
<label>Description: </label>
    <%= @recipe.description %>
    <br>
<label>Category: </label>
    <%= @recipe.category %>
    <br>
<label>Ingredients: </label>
    <% @recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient.name %></li><br>
<%end%>
<label>Total Calories: </label>
    <%= @cal_total %>
<br/>
<% if(session[:user_id] == @recipe.user.id) %>
 <p>Click <%= link_to "here to edit", "/recipes/#{@recipe.id}/edit" %> this recipe. </p> 
        <%= form_with(url: "/recipes/#{@recipe.id}", method: "delete") do |form|%>
        <%= form.submit("delete recipe")%>
    <%end%>
<%end%>




