<style>
img{
    height: 40%;
    width: 40%;
}
</style>

<h1> <%= @recipe.name %> </h1><br>
    <img src=<%=@recipe.recipe_url%> >
    <br>
<label>Directions: </label>
<div class="directions">
    <%= @recipe.description %>
</div>
    <br>
<label>Category: </label>
    <%= @recipe.category %>
    <br><br>
<label>Ingredients: </label>
    <% @recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient.name %></li><br>
<%end%>
<label> Amounts: </label>
    <% @recipe.amounts.each do |amount| %>
        <li><%= amount.measurement %></li>
    <% end %><br>
<label>Total Calories: </label>
    <%= @cal_total %>
<br/>
<% if(session[:user_id] == @recipe.user.id) %>
 <p>Click <%= link_to "here to edit", "/recipes/#{@recipe.id}/edit" %> this recipe. </p> 
        <%= form_with(url: "/recipes/#{@recipe.id}", method: "delete") do |form|%>
        <%= form.submit("delete recipe")%>
    <%end%>
<%end%>
<label>Reviews: </label><br>
    <% @reviews.each do |review| %>
    <label> Author: </label>
        <%= review.author %><br>
        <%= review.comments %><br>
    <label>Rating:</label>
        <%= review.ratings %><br>
<%end%>




