<style>
body{
    background: url("https://img.freepik.com/free-photo/light-brown-wooden-textured-background_53876-75016.jpg?size=626&ext=jpg");

  
}
</style>
<h3>Log-in</h3>
    <% if @login_errors != nil %>
    <% @login_errors.each do |error|%>
        <%=error%>
    <br>
<%end%>
<%end%>
<%= form_with({ method:'POST', url: '/users/login' }) do  | form | %>
<div>       
<label>Username</label>        
<%= form.text_field(:user_name) %>
<br>    
<label>Password</label>
<%= form.password_field(:password) %> 
<br>   
<%= form.submit("Login") %>
<%end %> 
<br>
<br>
 <label> OR </label>

 <a href="/users/new">Sign-up</a>