<!DOCTYPE html>
<html>
  <head>
    <title>AppName</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <ul>
      <li><a href="/homepage">Homepage</a></li>
      <li><a href="/users/login">Login</a></li>
      <li><a href="/users/new">Sign Up</a></li>
      <% if (session[:user_id]) %>
            <%= session[:user_id] %>
            <%end%>

    </ul>
  </head>
<style>
ul{

}
li {
  display: inline;
  padding: 10px;
  
}
a{
    text-decoration: none;
}
</style>
  <body>
    <%= yield %>
  </body>
</html>
