<!DOCTYPE html>
<html>
  <head>
    <title>AppName</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <div class="nav-bar">
      <li><a href="/homepage">Homepage</a></li>
      <li><a href="/users/login">Login</a></li>
      <li><a href="/users/new">Sign Up</a></li>
      <li><a href="/about">About</a></li>
      <% if (session[:user_id]) %>
  
      <% user = User.find(session[:user_id]) %>
            <li><%= link_to user.user_name, user %></li>
      <li><%= link_to "Log Out", "/users/logout" %></li>
            <%end%>

    </div>
  </head>
<style>
.nav-bar{
  overflow: hidden;
  background-color: white;
  height: 24px;

}
li {
  
  display: inline;
  padding: 10px;
  
}
a{
    text-decoration: none;
}
body{
  margin: 0;
}
</style>
  <body>
    <%= yield %>
  </body>
</html>
